body {
  background: #222831;
}
.form-control {
  box-shadow: none !important;
}
.card.card-no {
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}
.card.card-exp {
  border-radius: 0 0 5px 5px;
  border-top: none;
}
